<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/59958887-6992-4ed5-bb29-8b7db8601d26/resourceGroups/WordWhisperWeb20231111015853ResourceGroup/providers/Microsoft.Web/sites/WordWhisperWeb20231111015853</ResourceId>
    <ResourceGroup>WordWhisperWeb20231111015853ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wordwhisperweb20231111015853.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>238b8c75-19bf-4058-97c4-6d55b6ebc75c</ProjectGuid>
    <PublishUrl>https://wordwhisperweb20231111015853.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WordWhisperWeb20231111015853</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>